<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">AZURE DATAFACTORY / AZURE DATABRICKS</h5>
        <p>Softtek - Siglo21</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">benja.flores.tic@gmail.com</a>
          </li>
          <li>
            <a href="#!">Agustin</a>
          </li>
          <li>
            <a href="#!">Marcelo</a>
          </li>
          <li>
            <a href="#!">Rodrigo</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright: Grupo 2</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
